// main: ../main.scss
/*--------------------------------------------------------------
# Starter Section Section
--------------------------------------------------------------*/
.starter-section {
  /* Add your styles here */
}

.calendar-container {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  max-width: 900px;
  width: 100%;
}

.calendar-container h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-size: 24px;
}

.calendar-embed {
  width: 100%;
  border: none;
  border-radius: 8px;
  height: 600px;
  /* Adjust height as needed */
}